* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  width: 100%;
  height: 100vh;
  background-color: #afacac;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > h2 {
  margin-top: 8rem;
  font-size: 2.5rem;
}

.stickersContainer {
  width: 90rem;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stickerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stickerImg {
  width: 25rem;
  border-radius: 5px;
}
.stickerCard > input {
  width: 10rem;
  height: 4rem;
  padding-left: 0.5rem;
  margin-top: 3rem;
  border-radius: 3px;
  font-size: 1.8rem;
  border: none;
}

.alert {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  width: 14rem;
  height: 5rem;
  margin-top: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  color: #0295fd;
}
.btn:hover {
  background-color: #0295fd;
  color: #ffffff;
}